.App {
  text-align: center;
}

.body {
  background-color: white;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}

.App-body {
  margin-top: 150px;
  font-size: 30pt;
}

.App-logo {
  border-radius: 15px;
  height: 40vmin;
  pointer-events: none;
  transform: perspective(300px) rotateX(10deg);
}

@media (prefers-reduced-motion: no-preference) {
  p {
    animation: Title-shot infinite 3s alternate;
  }
}

.App-header {
  background-color: aliceblue;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(38, 38, 38);
  text-decoration: underline;
}

@keyframes Title-shot {
  from {
    margin-left: 25%;
  }
  to {
    margin-right: 25%;
  }
}

.App-body-header {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.App-body-header .my-profile {
  width: 400px;
  height: 400px;
  margin: 0 30% 100px 20%;
  padding: 50px;
  border-radius: 10%;
  background-color: aliceblue;
  position: relative;
}

.App-body-header .my-profile .profile-img {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

.App-body-header .btn-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body-header .btn-area .btn {
  margin: 10px 0 0 80%;
  width: 100px;
  height: 50px;
}
