.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transform: perspective(150px) rotateX(-20deg);
}

@media (prefers-reduced-motion: no-preference) {
  p {
    animation: Title-shot infinite 3s alternate;
  }
}

.App-header {
  background-color: rgb(244, 227, 227);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(38, 38, 38);
}

@keyframes Title-shot {
  from {
    margin-left: 25%;
  }
  to {
    margin-right: 25%;
  }
}
