.btn {
  width: 130px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 4px;
  border: 0px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}

.btn:hover {
  color: aliceblue;
  transform: scale(1.5);
}

.App {
  text-align: center;
  background-color: rgb(33, 33, 33);
  .App-header {
    background-color: #333;
    min-height: 200px;
    .App-title {
      min-height: 100px;
      .title_img {
        margin: 50px;
        min-height: 100px;
      }
    }
  }
  .body {
    margin-top: 150px;
    .App-body {
      font-size: 30pt;
      position: relative;
      .App-logo {
        border-radius: 15px;
        width: 400px;
        height: 250px;
        margin-bottom: 50px;
        pointer-events: none;
        transform: perspective(300px) rotateX(10deg);
      }

      .App-logo:nth-child(1) {
        position: absolute;
        z-index: 1;
        animation-name: logo-move-before;
        animation-duration: 15s;
        animation-fill-mode: forwards;
      }

      .App-logo:nth-child(2) {
        position: relative;
        z-index: 0;
        animation-name: logo-move-after;
        animation-delay: 5s;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        visibility: hidden;
      }
    }
    .App-body-header {
      width: 100%;
      height: 500px;
      margin-top: 100px;
      padding-bottom: 50px;
      position: relative;
    }
  }
}

@keyframes logo-move-before {
  0% {
    transform: perspective(300px) rotateX(-90deg);
  }
  50% {
    transform: perspective(300px) rotateX(10deg);
  }
  to {
    z-index: 0;
  }
}

@keyframes logo-move-after {
  from {
    transform: perspective(300px) rotateX(-90deg);
  }
  to {
    transform: perspective(300px) rotateX(10deg);
    visibility: visible;
  }
}

@media (prefers-reduced-motion: no-preference) {
  p .copyright {
    animation: Title-shot infinite 3s alternate;
  }
}

@keyframes Title-shot {
  from {
    margin-left: 25%;
  }
  to {
    margin-right: 25%;
  }
}
